html, body, figure, figcaption, ul, li, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-align: inherit;
    display: block;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  position: relative;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

figure {
  display: inline-block;
  border: 10px solid black;
}

ul {
  display: flex;
}

li {
  display: block;
  height: 20px;
  width: 20px;
}

.snake {
  background: green;
}

.apple {
  background: red;
}

.score {
  display: block;
  color: black;
  margin: 20px auto;
}

.banner {
  display: none;
  position: absolute;
  top: 50%;
  left: 45%;
  background: transparent;
  font-size: 30px;
  letter-spacing: 2px;
  color: red;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 40%;
  background: transparent;
  font-size: 30px;
  letter-spacing: 2px;
  color: red;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h3.game-over  {
  top: 60%;
  left: 35%;
  font-size: 20px;
}