html, body, figure, figcaption, ul, li, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-align: inherit;
    display: block;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

figure {
  display: inline-block;
  border: 10px solid black;
}

ul {
  display: flex;
}

li {
  display: block;
  height: 20px;
  width: 20px;
}

.snake {
  background: green;
}

.apple {
  background: red;
}